* {
  box-sizing: border-box;
}

body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #ededed;
  margin: 0;
}

.app-header {
  text-align: center;
}

h1 {
  color: #360a369b;
  font-size: 1.6rem;
  margin: 1rem 10 10.5rem;
}

#new-todo {
  text-align: center;
  width: 50%;
}

.todo-list {
  margin: 30px 15px 30px 15px;
  padding: 30px;
  width: 85%;
  height: 50%;
  position: relative;
  box-shadow: 0 -0.4rem 1rem -0.4rem rgba(0,0,0,0.2);
}

.task-done {
  text-decoration: line-through;
}

.addTask-btn {
  background-color: #42383B;
  color: #fff;
  border: 0;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  font-size: 14pt;
}

.trashIcon {
    margin: 20px
}